:root {
    --primary-color: #0580fc;
    --secondary-color: #191a1c;
    --text-color: #000000;
    --bg-light: #ffffff;
}

body {
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
}

header {
    background: #393737;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--primary-color);
}
