:root {
    --primary-color: #0580fc;
    --secondary-color: #191a1c;
    --text-color: #000000;
    --bg-light: #ffffff;
}

/* Основні стилі для тіла сайту */
body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
}

/* Заголовки */
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* Кнопки */
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Хедер */
header {
    background: #393737;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1);
}

/* Меню */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--primary-color);
}
